<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>
</head>

<body>
    <h1>Добавить нового студента</h1>

    <form th:action="@{/students/add}" method="GET">
        <input type="text" name="name" placeholder="Введите имя студента"/>
        <input type="text" name="score" placeholder="Введите балл студента"/>
        <input type="submit"/>
    </form>

    <br>
    <a th:href="@{/}">на Главную страницу</a>
</body>
</html>