<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Box table</h1>
    <span th:if="${boxes.isEmpty()}">Коробок нет</span>
    <table class="table" th:if="${!boxes.isEmpty()}">
        <thead>
        <tr>
            <td>ID</td>
            <td>Цвет</td>
            <td>Размер</td>
            <td>Действия</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b : ${boxes}">
            <td th:text="${b.id}"/>
            <td th:text="${b.color}"/>
            <td th:text="${b.size}"/>
            <td>
                <a class="btn btn-danger" th:href="@{'/delete_box/' + ${b.id}}">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
    <h2>Добавить коробку</h2>
    <!--  http://localhost:8189/app/add_box  -->

    <form method="POST" th:action="@{/add_box}">
        <input type="text" name="color" placeholder="Цвет">
        <input type="number" name="size" placeholder="Размер">
        <button class="btn btn-primary" type="submit">Добавить</button>
    </form>
</div>

</body>
</html>