<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Spring MVC GeekApp</title>
</head>

<body>
    <h1>Веб-приложение: Spring MVC GeekApp</h1>
    <br>
    <h4>Путеводитель</h4>
    <br>
    <a th:href="@{/students}">Список студентов</a>
    <br>
    <a th:href="@{/students/add}">Добавить нового студента</a>
    <br>
<!--    <a th:href="@{/show_mod_form}">Работа с MOD формой</a>-->
<!--    <br>-->
<!--    <a th:href="@{/students/show_form}">Работа с формой для студентов</a>-->
</body>
</html>